.switches {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle__icon {
  margin-right: 0.5em;
  width: 20px;
}

.toggle__text {
  margin-right: 0.8rem;
}
