:root {
  --primary--color: hsl(214, 84%, 56%);
  --text-color: hsl(0, 0%, 31%);
  --bg-color: hsl(0, 0%, 90%);
  --bg-card-color: hsl(0, 0%, 98%);
  --border-radius: 0.5em;
  --transition: color 0.1s, background-color 0.2s ease-in-out;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  font-family: monospace;
  font-size: 20px;
}

body.dark {
  --text-color: hsl(0, 0%, 83%);
  --bg-color: hsl(0, 0%, 15%);
  --bg-card-color: hsl(0, 0%, 20%);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  padding: 0 1.5 em;
  background-color: var(--bg-card-color);
  transition: var(--transition);
}

img {
  max-width: 100%;
  display: block;
}

main {
  display: grid;
  padding: 2em 0em;
  gap: 16px;
  justify-content: center;
}

.card {
  padding: 2em 3em;
  max-width: 1024px;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  margin: 0 2em;
}

.card__skills {
  display: flex;
  flex-direction: column;
  gap: 16px;

  justify-content: center;
}

.two-columns {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 2.5em;
}

/* .card__columns {
  display: flex;
  justify-content: center;
  align-items: center;
} */
