:root {
  --primary--color: hsl(214, 84%, 56%);
  --text-color: hsl(0, 0%, 31%);
  --bg-color: hsl(0, 0%, 90%);
  --bg-card-color: hsl(0, 0%, 98%);
  --border-radius: 0.5em;
  --transition: color 0.1s, background-color 0.2s ease-in-out;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  color: hsl(214, 84%, 56%);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  font-family: monospace;
  font-size: 20px;
}

body.dark {
  --text-color: hsl(0, 0%, 83%);
  --bg-color: hsl(0, 0%, 15%);
  --bg-card-color: hsl(0, 0%, 20%);
}

body.dark img.socialIcon {
  /* filter white */
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

body.dark img.toTheTop {
  /* filter white */
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  padding: 0 1.5 em;
  background-color: var(--bg-card-color);
  transition: var(--transition);
}

img {
  max-width: 100%;
  display: block;
}

main {
  display: grid;
  padding: 2em 0em;
  gap: 16px;
  justify-content: center;
}

.card {
  padding: 2em 3em;
  max-width: 1024px;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  margin: 0 2em;
}

@media (max-width: 425px) {
  body {
    font-size: 16px;
  }
}

.card__skills {
  display: flex;
  flex-direction: column;
  gap: 16px;

  justify-content: center;
}

.two-columns {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 2.5em;
}

.experience {
  padding-bottom: 0.8em;
}

.experience li {
  margin: 0.5em;
}

img.socialIcon {
  height: 30px;
  width: 30px;
}

img.socialIcon:hover {
  animation: bounce 0.5s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;

  background-color: var(--bg-card-color);
  transition: var(--transition);
}
